* {
  margin: 0;
  padding-top: 10px;

}

body{
	background-image: url('https://images.unsplash.com/photo-1514477917009-389c76a86b68?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80');
	background-repeat: no-repeat;
	background-size: cover;
}

.ml3 {
  font-family: 'Luckiest Guy', cursive;
  font-weight: 900;
  font-size: 10em;
  color: #ff69b4;
}

.container {
display: grid;
grid-template-columns: repeat(6, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
justify-items: center;
align-content: end;

}

.item1 { grid-area: 1 / 1 / 2 / 5; }
.item2 {
  grid-area: 2 / 1 / 4 / 3;
  font-family: 'Luckiest Guy';
  font-size: 4em;
  text-align: center;
  text-decoration: none;
  color: green;
}
.item3 {
  grid-area: 2 / 3 / 4 / 5;
  font-family: 'Luckiest Guy';
  font-size: 4em;
  text-align: center;
  color: yellow;
}
.item4 {
  grid-area: 4 / 1 / 6 / 3;
  font-family: 'Luckiest Guy';
  font-size: 4em;
  text-align: center;
  color: red;
}
.item5 {
  grid-area: 4 / 3 / 6 / 5;
  font-family: 'Luckiest Guy';
  font-size: 4em;
  text-align: center;
  color: blue;
}
.item6 { grid-area: 1 / 5 / 6 / 7;
z-index: -1;
}

img:hover {
  animation: shake 0.5s;

  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
